﻿@using EducationApp.Models
@model EducationApp.Models.ApplicationUser
@{
    ViewBag.Title = Model.UserName;
}
<link href="~/Content/font-awesome.css" rel="stylesheet"/>

<h2>@ViewBag.Title @Resources.Resource.Page</h2>
<div ng-app="myApp">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <img class="avatar-cropped-small" src="@Model.ImageUrl" />
            </div>
            <div class="panel-body list-group">
                <div class="list-group-item">
                    @if (@Model.Gender.Equals(Gender.Male))
                    {
                        <label class="fa fa-male fa-4x" style="font-size: 20px"></label>
                    }
                    else if (@Model.Gender.Equals(Gender.Female))
                    {
                        <label class="fa fa-female fa-4x" style="font-size: 20px"></label>
                    }
                    else
                    {
                        <label class="glyphicon glyphicon-user"></label>

                    }
                    <span class="pull-right">@(Model.Name ?? @Resources.Resource.NotSet) @(Model.Surname ?? @Resources.Resource.NotSet)</span>
                </div>
                <div class="list-group-item">
                    <label class="glyphicon glyphicon-time"></label>
                    <span class="pull-right">
                        @{
                            if (Model.DateOfBirth != null)
                            {
                                @:@Model.DateOfBirth.ToString().Split(' ')[0]
                            }
                            else
                            {
                                @:@Resources.Resource.NotSet
                            }
                        }
                    </span>
                </div>
                <div class="list-group-item">
                    <label class="glyphicon glyphicon-comment"></label>
                    <span class="pull-right">@(Model.Description ?? @Resources.Resource.NotSet)</span>
                </div>
            </div>
        </div>

        <h3>@Resources.Resource.Medal</h3>
        @foreach (var medal in @Model.Medals)
        {
            <img data-toggle="tooltip" title="@medal.Description" src="https://res.cloudinary.com/iedapp/image/upload/w_50,c_scale/@medal.ImageId" />
        }
    </div>
    <br/>
    <div class="col-md-9">
        <div ng-controller="entriesController">
            <div ng-cloak infinite-scroll="loadMore('@Model.Id')">
                <div ng-repeat="e in entries">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><a href="../../view/index/{{e.Id}}">{{e.Title}}</a></h4><span ng-repeat="t in e.Tags"><a href="../../View/ByTag/{{t}}" class="label label-primary">{{t}}</a> </span>

                                        <hr />

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">

                                        <img ng-src="https://res.cloudinary.com/iedapp/image/upload/w_900,h_300,c_crop,c_fill/{{e.ImageId}}" alt="" class="img-responsive">


                                    </div>
                                    <div class="col-md-8">
                                        <p>
                                            {{e.Description}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <i class="glyphicon glyphicon-user"></i> <a href="../../AccountUser/User/{{e.Username}}">{{e.Username}}</a> |
                                <i class="glyphicon glyphicon-calendar"></i> {{e.CreateTime}} |
                                <i class="glyphicon glyphicon-comment"></i> {{e.CommentsCount}} comments |
                                <i class="glyphicon glyphicon-star"></i> {{e.Rating}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                    </div>

                    <!-- /.row -->
                    <!-- Project One -->
                    
 
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>