﻿@using EducationApp.Models
@model IEnumerable<Entry>
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Resources.Resource.Find @Model.Count() @Resources.Resource.Posts
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Project One -->
    @{ foreach (Entry en in @Model)
        {
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="https://res.cloudinary.com/iedapp/image/upload/w_900,h_300,c_crop,c_fill/@en.ImageId" alt="">
                </div>
                <div class="col-md-5">
                    <h3>@en.Title</h3>
                    <h4 class="label label-info">@en.CreateTime</h4>
                    <p>@en.Description</p>
                    <a class="btn btn-primary" href="../../view/index/@en.Id">@Resources.Resource.ViewProject <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <hr>
            }
        }
</div>

