﻿@model EducationApp.Models.EntryViewModel
<div ng-app="myApp">
    <div ng-controller="viewController" ng-init="setId(@Model.Id)">
        <div class="form-horizontal" ng-cloak>
            <br/>
            <h1>@Model.Title</h1>
            <p><a href="../../View/ByCategory/@Model.Category" >@Model.Category</a>
</p>
            <p>
                <span>
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="../../View/ByTag/@tag.TagName" class="label label-primary">@tag.TagName</a>
                    }
                </span>
            </p>
            <p>
                <div style="max-width: 130px" class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vote(false)" onclick="this.blur();"
                                ng-disabled="!@User.Identity.IsAuthenticated.ToString().ToLower()">
                            <span class="glyphicon glyphicon-minus" ng-class="{red: !isPositive && isRateSet}"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control input-number text-center" ng-disabled="true" value="{{rating}}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vote(true)" onclick="this.blur();"
                                ng-disabled="!@User.Identity.IsAuthenticated.ToString().ToLower()">
                            <span class="glyphicon glyphicon-plus" ng-class="{green: isPositive && isRateSet}"></span>
                        </button>
                    </span>
                </div>
            </p>
            <p>
                <span class="glyphicon glyphicon-user"></span> <a href="../../AccountUser/User/@Model.Username">@Model.Username</a>
            </p>
            <p>
                <span class="glyphicon glyphicon-time"></span> @Model.CreateTime
            </p>
            @{Html.RenderPartial(@Model.Template.TemplateRender);}

        </div>
        <br/>
        @if (Model.Username == User.Identity.Name || User.IsInRole("admin"))
            {
                <div class="well">
                    <button class="btn btn-default" ng-click="editEntry()">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteEntry()">Delete</button>
                </div>
        }
    </div>
            <hr />
            <H3>@Resources.Resource.Comments</H3>
    <div ng-controller="commentsController" ng-init="getComments(@Model.Id)">

        <div class="row" id="userList">
            <div ng-repeat="c in comments" class="col-sm-12">
                <div class="row">
                    <div class="col-xs-1">
                        <a href="../../accountUser/user/{{c.UserName}}"><img ng-src="{{c.UserImage}}" class="img-circle img-responsive" style="width:150px; min-width:29px"></a>
                    </div>
                    <div class="col-xs-11">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{c.Text}}<br>
                                <span class="label label-info">{{ c.Time}}</span>
                                <div class="pull-right">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <button ng-click="setLike(c.Id)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> {{c.LikesCount}}</button>

                                    }
                                    @if (User.IsInRole("admin"))
                                    {
                                        <button ng-click="removeComment(c.Id)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div><!--/col-->
                </div><!--/row-->
            </div><!--/col-->
        </div><!--/row-->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <hr>

                <h2 class="text-center">@Resources.Resource.WriteComments</h2>
                <div class="col-12">
                    <div class="input-group">
                        <textarea maxlength="100" class="form-control input-large" placeholder="Add to the conversation" id="comment" type="text"></textarea>
                        <span class="input-group-addon" style="cursor:pointer" ng-click="addComment(@Model.Id)">@Resources.Resource.Post</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

            </div>

        }
    </div>
</div>
