﻿
<div class="container" ng-app="myApp" ng-controller="popularEntriesController">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @Resources.Resource.HighestRating
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Project One -->
    <div infinite-scroll="loadMore()">
        <div ng-repeat="e in entries">
            <div class="container">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h4><strong><a href="../../view/index/{{e.Id}}">{{e.Title}}</a></strong></h4>
                                <hr />

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <img ng-src="https://res.cloudinary.com/iedapp/image/upload/w_900,h_300,c_crop,c_fill/{{e.ImageId}}" alt="" class="img-responsive">
                                </a>

                            </div>
                            <div class="col-md-8">
                                <p>
                                    {{e.Description}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <i class="glyphicon glyphicon-user"></i> <a href="../../AccountUser/User/{{e.Username}}">{{e.Username}}</a> | <i class="glyphicon glyphicon-calendar"></i> {{e.CreateTime}} | <i class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
                        |
                        <i class="glyphicon glyphicon-star"></i> {{e.Rating}}
                        | <i class="glyphicon glyphicon-tags"></i> Tags
                        : <a href="#"><span class="label label-info">Bootstrap</span></a>
                        <a href="#">
                            <span class="label label-info">UI</span>
                        </a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
