﻿<h2>@Resources.Resource.EditEntry</h2>
<link href="~/Content/ng-tags-input.css" rel="stylesheet" />
<link href="~/Content/ng-tags-input.bootstrap.css" rel="stylesheet" />


<div class="form-horizontal" ng-app="myApp" ng-controller="editPostController">
    <hr />
    <form name="myForm">

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.Template</label>
            <div class="col-md-10">
                <select ng-disabled="isUploading" class="form-control" data-ng-options="item.Name for item in templates track by item.Id"
                        data-ng-model="template"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.Category</label>
            <div class="col-md-10">
                <select ng-disabled="isUploading" class="form-control" data-ng-options="item.name for item in categories track by item.id"
                        data-ng-model="category"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.Title</label>
            <div class="col-md-10">
                <input ng-disabled="isUploading" class="form-control text-box single-line" type="text" value="" ng-model="title" required />
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.DescriptionEntry</label>
            <div class="col-md-10">
                <input ng-disabled="isUploading" maxlength="140" class="form-control text-box single-line" type="text" value="" ng-model="description" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.Tags</label>
            <div class="col-md-10">
                <tags-input ng-disabled="isUploading" max-length="15" max-tags="10" ng-model="tags" required>
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.Content</label>

            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">@Resources.Resource.Write</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#menu1">@Resources.Resource.Preview</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <br />
                        <textarea ng-disabled="isUploading"  maxlength="20000" class="form-control text-box multi-line" ng-model="my_markdown" cols="60" rows="5" required></textarea>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div marked="my_markdown"></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'../../Template/GetEditTemplate/'+template.Id"></div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div ng-show="isUploading">
                    <div class="progress progress-striped active" style="width: 264px;">
                        <div class="progress-bar progress-bar-success"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 264px;">
                        </div>
                    </div>
                </div>
                <input ng-show="!isUploading" type="submit" ng-disabled="myForm.$invalid" value=@Resources.Resource.EditEntry class="btn btn-default" ng-click="addPost()" />
            </div>
        </div>
    </form>
</div>


