﻿@using Resources
@{
    ViewBag.Title = "Home Page";
}
<div ng-app="myApp">
    <div class="container">

            <div class="col-md-8">
                @{Html.RenderPartial("~/Views/Shared/PopularEntriesPartial.cshtml");}
            </div><!-- --/col-lg-8 ---->
        <div class="col-md-4">
            @{Html.RenderPartial("~/Views/Shared/CategoriesPartial.cshtml");}


            <h4>@Resources.Resource.RecentlyCreated</h4>
            @{Html.RenderPartial("~/Views/Shared/ResentEntriesPartial.cshtml");}

            <h4>@Resources.Resource.TagCloud</h4>
            @{Html.RenderPartial("~/Views/Shared/TagsCloudPartial.cshtml");}
            </div>
        </div>
        </div><!-- --/row ---->


















