﻿@using EducationApp.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ng-infinite-scroll.js"></script>
    <script src="~/Scripts/angular-simple-logger.js"></script>
    <script src="~/Scripts/angular-google-maps.js"></script>
    <script src="~/Scripts/marked.js"></script>
    <script src="~/Scripts/ng-tags-input.js"></script>
    <script src="~/Scripts/angular-marked.min.js"></script>
    <script src="~/Scripts/app.js"></script>


    @if (Request.IsAuthenticated)
    {
        {
            ApplicationUser user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(HttpContext.Current.User.Identity.GetUserId());
            switch (user.Theme)
            {
                case Theme.Light:
                    {
                        <link href="~/Content/bootstrap.css" rel="stylesheet" id="stylesheet" />
                        break;
                    }
                case Theme.Dark:
                    {
                        <link href="~/Content/blackBootstrap.css" rel="stylesheet" id="stylesheet" />
                        break;
                    }
            }

        }
    }
    else
    {
        <link href="~/Content/bootstrap.css" rel="stylesheet" id="stylesheet" />
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink(@Resources.Resource.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Resource.Home, "Index", "Home")</li>
                    <li>

                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
