﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>
                <p class="navbar-btn">
                    @Html.ActionLink(@Resources.Resource.Create, "AddEntry", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
                </p>
            </li>

            <li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName()<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            @Html.ActionLink(@Resources.Resource.AdminPage, "ShowUsers", "Admin", routeValues: null, htmlAttributes: null)
                        </li>
                    }
                    <li>
                        @Html.ActionLink(@Resources.Resource.Profile, "User", "AccountUser", routeValues: new {id = User.Identity.Name}, htmlAttributes: null)
                    </li>
                    <li>
                        @Html.ActionLink(@Resources.Resource.EditProfile, "EditDetails", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li>
                        @Html.ActionLink(@Resources.Resource.Settings, "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>

                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.Logoff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@Resources.Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
