﻿<p>
    <br>
    <h4>@Resources.Resource.Search</h4>
    @using (@Html.BeginForm("Index", "Search", FormMethod.Get))
    {

        @Html.Editor("id", new { htmlAttributes = new { @class = "form-control" } });
    }
</p>

<hr>

<h4>@Resources.Resource.Categories</h4>
<div ng-controller="categoriesController">
    <div class="hline"></div>
    <div ng-repeat="category in categories">
        <p>
            <a href="../../View/ByCategory/{{category.id}}"><i class="fa fa-angle-right"></i> {{category.name}}</a>
        </p>
    </div>
</div>
<hr>
