﻿@model EducationApp.Models.UserDetailsViewModel

@{
    ViewBag.Title = @Resources.Resource.Manage;
}

<h2>@ViewBag.Title.</h2>

<div class="row" ng-app="myApp">
    <div class="col-md-4" ng-controller="avatarController" ng-init="getCurrentUserImage('@Model.UserId')">
        <div file-dropzone="[image/png, image/jpeg, image/gif]" file="image" imageup="imageUpdate()" data-max-file-size="3" class="avatar-drop-area">
            <img class="avatar-cropped" ng-src={{image}} />
        </div><br />
        <div ng-cloak ng-show="isNewImage && !isLoading" style="margin-left: 60px">
            <button class="btn btn-default" ng-click="sendImage('@Model.UserId')">Accept</button>
            <button class="btn btn-default" ng-click="getCurrentUserImage('@Model.UserId')">Reject</button>
        </div>
        <div ng-cloak ng-show="isLoading">
            <div class="progress progress-striped active" style="width: 264px;">
                <div class="progress-bar progress-bar-success"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 264px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        @using (Html.BeginForm("EditDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.UserId, "@Model.UserId")
            <div class="form-group">
                @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Theme, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Language, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Resources.Resource.Save class="btn btn-default" />
                </div>
            </div>

        }
    </div>

</div>
