﻿<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <h4><strong><a href="#">Title of the post</a></strong></h4>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="" class="img-responsive">
                    </a>

                </div>
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation
                        option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei
                        omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                    </p>
                    <p>
                        <a class="btn btn-default" href="#">Read more</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p></p>
                    <p>
                        <i class="glyphicon glyphicon-user"></i> by <a href="#">Jeff</a> | <i class="glyphicon glyphicon-calendar"></i> Sept
                        16th, 2012 | <i class="glyphicon glyphicon-comment"></i>  <a href="#">3 Comments</a>
                        |
                        <i class="glyphicon glyphicon-share"></i> <a href="#">39 Shares</a>
                        | <i class="glyphicon glyphicon-tags"></i> Tags
                        : <a href="#"><span class="label label-info">Bootstrap</span></a>
                        <a href="#">
                            <span class="label label-info">UI</span>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<hr>
