﻿    <h2 class="page-header">
        @Resources.Resource.HighestRating
    </h2>

<div ng-controller="popularEntriesController">


    <!-- /.row -->
    <!-- Project One -->
    <div ng-cloak infinite-scroll="loadMore()">
        <div ng-repeat="e in entries">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><a href="../../view/index/{{e.Id}}">{{e.Title}}</a></h4><span ng-repeat="t in e.Tags"><a ng-href="../../View/ByTag/{{t | encodeUri}}" class="label label-primary">{{t}}</a> </span>

                                <hr />

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                              
                                    <img ng-src="https://res.cloudinary.com/iedapp/image/upload/w_900,h_300,c_crop,c_fill/{{e.ImageId}}" alt="" class="img-responsive">
                               

                            </div>
                            <div class="col-md-8">
                                <p>
                                    {{e.Description}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <i class="glyphicon glyphicon-user"></i> <a href="../../AccountUser/User/{{e.Username}}">{{e.Username}}</a> |
                        <i class="glyphicon glyphicon-time"></i> {{e.CreateTime}} |
                        <i class="glyphicon glyphicon-comment"></i> {{e.CommentsCount}} |
                        <i class="glyphicon glyphicon-star"></i> {{e.Rating}}
                    </div>
                </div>
            </div>
        </div>
</div>
