﻿<div  ng-controller="homeController" ng-init="getEntries()">

    <div class="hline"></div>
    <ul class="popular-posts list-unstyled">
        <li class="row" ng-repeat="d in date">
            <div class="col-md-3">
                <a class="thumbnail" href="../../view/index/{{d.Id}}">
                    <img class="img-responsive" ng-src="https://res.cloudinary.com/iedapp/image/upload/w_900,h_300,c_crop,c_fill/{{d.ImageId}}" alt="Popular Post">
                </a>
            </div>
            <div class="col-md-9">
                <a href="../../view/index/{{d.Id}}">{{d.Title}}</a>
                <p>
                    <em class="small"><span class="glyphicon glyphicon-time"></span> {{d.CreateTime}}</em>
                </p>
            </div>
        </li>
    </ul>

    <hr>
</div>
