﻿    <div class="hline"></div>
    <div id="keyword_cloud" ng-controller="tagCloudCtrl">    
            <div class="dataBoxContent">
                <span ng-cloak ng-repeat="word in words">
<a href="../../view/bytag/{{word.TagName}}" class="cloud_{{ word.Weight }}">{{ word.TagName }}</a> </span>
            </div>   
     </div>           
    
