﻿<div ng-app="myApp" ng-controller="viewController">
    <div class="container">
        <img class="leftimg" ng-src="https://res.cloudinary.com/iedapp/image/upload/w_300,h_300,c_crop,c_fill/@Model.ImageId" alt="">

        <marked>@Model.Content</marked>
    </div>
</div>