﻿<div ng-app="myApp" ng-controller="viewController">

    <img class="img-responsive" ng-src="https://res.cloudinary.com/iedapp/image/upload/w_1200,h_240,c_crop,c_fill/@Model.ImageId" alt="" >

    <marked>@Model.Content</marked>
</div>