﻿
<div class="form-group">
    <label class="control-label col-md-2">@Resources.Resource.Image</label>
    <div class="col-md-10">

        <div file-dropzone="[image/png, image/jpeg, image/gif]" file="$parent.image" data-max-file-size="3" class="bn-demowide">
            <img class="wide-cropped" ng-src={{image}} />
        </div>
    </div>

</div>


