﻿@using System.Globalization
<div ng-app="myApp" ng-controller="viewController">

    <img class="img-responsive" ng-src="https://res.cloudinary.com/iedapp/image/upload/w_1200,h_240,c_crop,c_fill/@Model.ImageId" alt="">

    <marked>@Model.Content</marked>
    <ui-gmap-google-map center="{latitude:'@Model.Latitude.ToString(CultureInfo.InvariantCulture)',
                                longitude:'@Model.Longitude.ToString(CultureInfo.InvariantCulture)'}" zoom="11">
        <ui-gmap-marker idKey="{id:0}"
                        coords="{latitude:'@Model.Latitude.ToString(CultureInfo.InvariantCulture)',
                                longitude:'@Model.Longitude.ToString(CultureInfo.InvariantCulture)'}">
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>