﻿
<div class="form-group">
    <label class="control-label col-md-2">@Resources.Resource.Image</label>
    <div class="col-md-10">

        <div file-dropzone="[image/png, image/jpeg, image/gif]" file="$parent.image" data-max-file-size="3" class="bn-demowide">
            <img class="wide-cropped" ng-src={{image}} />
        </div>
    </div>

</div>




<div class="form-group">
    <label class="control-label col-md-2">@Resources.Resource.Location</label>
    <div class="col-md-10">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
            <ui-gmap-marker coords="map.marker.coords" icon="map.marker.icon" idkey="map.marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>