﻿
<div class="form-group">
    <label class="control-label col-md-2">@Resources.Resource.Image</label>
    <div class="col-md-10">

        <div file-dropzone="[image/png, image/jpeg, image/gif]" file="$parent.image" data-max-file-size="3" class="bn-demowide">
            <img class="wide-cropped" ng-src={{image}} />
        </div>
    </div>

</div>


<div class="form-group">
    <label class="control-label col-md-2">Youtube Link</label>
    <div class="col-md-10">
        <input ng-disabled="$parent.isUploading" class="form-control text-box single-line" type="text" value="" ng-model="$parent.link" required/>
    </div>
</div>
