﻿@model EducationApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap-social.css" rel="stylesheet" />
<h4>@Resources.Resource.ExternaLoginsListPartialMessage</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();    
   
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-block btn-social btn-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title= @Resources.Resource.ExternaLoginsListPartialMessage1 @p.Caption @Resources.Resource.Account><span class="fa fa-@p.AuthenticationType.ToLower()"></span> @Resources.Resource.ExternaLoginsListPartialMessage2 @p.AuthenticationType</button>                    }
                </p>
            </div>
        }    
}
