﻿@{
    ViewBag.Title = Resources.Resource.ForgotPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.ForgotPasswordConfirmation.
    </p>
</div>
	
