﻿@{
    ViewBag.Title = Resources.Resource.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.ResetPasswordConfirmationMessagePart1 @Html.ActionLink(Resources.Resource.ResetPasswordConfirmationMessagePart2, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
