﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */





.bn-demo {
	border: 2px dashed #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	display: block ;
	width: 134px;
	height:134px;
    margin-right: 20px;
	overflow: auto ;
}

.avatar-drop-area {
	border: 2px dashed #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	display: block ;
	width: 264px;
	height: 264px;
    margin-right: 20px;
	overflow: auto ;
}

.bn-demowide {
	border: 2px dashed #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	display: block ;
	width: 504px;
	height:104px;
    margin-right: 20px;
	overflow: auto ;
}

.avatar-cropped {
  object-fit: cover; 
  object-position: center;
  height: 260px;
  width: 260px;
}

.avatar-cropped-small {
  object-fit: cover; 
  object-position: center;
  height: 200px;
  width: 200px;
}

.center-cropped {
  object-fit: cover; 
  object-position: center;
  height: 130px;
  width: 130px;
}

.wide-cropped {
  object-fit: cover; 
  object-position: center;
  height: 100px;
  width:500px;
}

/* Styles go here */

.cloud_1 { font-size: 14px; }
.cloud_2 { font-size: 16px; }
.cloud_3 { font-size: 18px; }
.cloud_4 { font-size: 20px; }
.cloud_5 { font-size: 22px; }
.cloud_6 { font-size: 24px; }
.cloud_7 { font-size: 7em; }
.cloud_8 { font-size: 8em; }
.cloud_9 { font-size: 9em; }
.cloud_10 { font-size: 10em; }


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.angular-google-map-container { width: 400px; height: 200px; }

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin-right: 40px; /* Отступы вокруг картинки */
}

.green {
    color:green
}

.red {
    color:red
}

.blue {
    color:lightblue
}
