﻿@using EducationApp.Models
@model List<EducationApp.Models.ApplicationUser>
@{
    ViewBag.Title = @Resources.Resource.ShowUsers;
}
<h2>@Resources.Resource.ShowUsers</h2>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container">
    <hr />
    <div class="row" id="userList">
        <table class="table-striped ">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-2">@Resources.Resource.Username</th>
                    <th class="col-xs-2">@Resources.Resource.Name</th>
                    <th class="col-xs-2">@Resources.Resource.Surname</th>
                    <th class="col-xs-2">@Resources.Resource.DateOfBirth</th>
                    <th class="col-xs-1">@Resources.Resource.Gender</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td class="col-xs-1">
                                <a href="/admin/EditUser/@user.UserName">
                                    <img src=@user.ImageUrl class="img-thumbnail img-responsive img-circle">
                                </a>
                            </td>
                            <td class="col-xs-2 cap">@user.UserName </td>
                            <td class="col-xs-2 cap">@user.Name </td>
                            <td class="col-xs-2 strong">@user.Surname </td>
                            <td class="col-xs-2">@user.DateOfBirth </td>
                            @{
                                if (@user.Gender.Equals(Gender.Male))
                                {
                                    <td class="col-xs-1">
                                        <li class="fa fa-male fa-3x"></li>
                                    </td>
                                }
                                else if (@user.Gender.Equals(Gender.Female))
                                {
                                    <td class="col-xs-1">
                                        <li class="fa fa-female fa-3x"></li>
                                    </td>
                                }
                                else
                                {
                                    <td class="col-xs-1">@user.Gender</td>
                                }
                                if (@user.LockoutEndDateUtc != null)
                                {
                                    <td class="col-xs-1">
                                        <a class="btn btn-success" href="/admin/unban/@user.UserName">@Resources.Resource.Unban</a>
                                    </td>
                                }
                                else
                                {
                                    <td class="col-xs-1">
                                        <a class="btn btn-danger" href="/admin/ban/@user.UserName">@Resources.Resource.Ban</a>
                                    </td>
                                }

                                <td class="col-xs-1">
                                    <a class="btn btn-default" href="/admin/resetpassword/@user.UserName">@Resources.Resource.ResetPassword</a>
                                </td>
                            }

                        </tr>
                                }
                }
            </tbody>
        </table>
    </div><!--/row-->
    <div class="row">

        <hr>
    </div>

</div><!--/container-->